#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.header {
  position: absolute;
  top: 0px;
  left: -1px;
  height: 10vh;
  width: 100vw;
  background: linear-gradient(135deg,
      #d9e2e8,
      #c3d0d8,
      #aebdc7);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  padding: 11px;
}

.logo {
  margin-top: -25px;
  height: 12vh;
}
.nav {
  position: absolute;
  right:50px;
  top:31px;
}
.nav p {
  font-weight: 600;
  cursor: pointer;
}
.nav p:hover {
  font-family: 600;
  color:white;
}
.dropdown {
  position: relative;
}

.dropbtn {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  border-radius: 6px;
  padding: 8px 0;
  min-width: 120px;
  z-index: 999;
}

.dropdown-content p {
  padding: 8px 15px;
  margin: 0;
  cursor: pointer;
}

.dropdown-content p:hover {
  background-color: #f2f2f2;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.body {
  position: relative;
  top:10vh;
  height:65vh;
  max-height: 90vh;
}
.footer {
  position:absolute;
  bottom:0;
  height: 10vh;
  width: 100vw;
 background: linear-gradient(
    135deg,
    #d9e2e8,
    #c3d0d8,
    #aebdc7
  );
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  left:0;
}
.github-btn {
  width: 8vw;
  margin-top:-15px;
}
.home-page {
  position: fixed;
  left: 0;
  top: 10vh;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}